.order {
	&.create {
		display: grid;
		grid-gap: 1rem;
		grid-template-areas: "labelsell labelsell . labelbuy labelbuy"
							 "selectsell valuesell swap selectbuy valuebuy"
							 "button button button button button"
							 "message message message message message";
        grid-template-columns: 1fr 0.7fr auto 1fr 0.7fr;
        @include mobile{
			grid-template-areas: "labelsell labelsell"
			"selectsell valuesell"
			"swap swap"
			"labelbuy labelbuy"
			"selectbuy valuebuy"
            "button button"
            "message message";
            grid-template-columns: 1fr 1fr;
            grid-gap: 0.5rem;
		}
		.field {
			margin-bottom: 0;
		}
		#submitbtn {
			padding-bottom: calc(.475em - 1px);
			padding-left: .95em;
			padding-right: .95em;
			padding-top: calc(.475em - 1px);
			height: 2.5em;
			width: 8em;
			font-size: 18px;
        }
        #swap-btn {
            @include mobile {
                width: 36px;
                margin: 0 auto;
            }
        }
		
	}
	&.create.is-dashboard {
        grid-gap: 1.5rem;
		grid-template-areas: "labelsell . labelbuy"
							 "selectsell swap selectbuy"
							 "valuesell . valuebuy"
                             "button button button"
                             "message message message";
        grid-template-columns: 1fr auto 1fr;
        @include mobile{
			grid-template-areas: "labelsell labelsell"
			"selectsell valuesell"
			"swap swap"
			"labelbuy labelbuy"
			"selectbuy valuebuy"
            "button button"
            "message message";
            grid-template-columns: 1fr 1fr;
            grid-gap: 0.5rem;
		}
    }
}
.orderconfirm {
    .hint {
        color: var(--color-gray3);
        font-style: italic;
    }
    .total {
        margin-bottom: 0;
    }
    hr {
        margin: 1rem 0 0.5rem;
    }
}

.order-table{
	table-layout: fixed;
}

// ORDERS LIST
#order-list {
    .detail-container {
        @include mobile {
            padding: 4px 0 !important;
        }
    }
}
.orderdetails {
    display: flex;
    @include mobile {
        flex-wrap: wrap;
        justify-content: center;
    }
    .orderdetails-qr {
        margin-right: 10px;
        @include mobile {
            margin-right: 0;
        }
    }
    .orderdetails-content {
        flex: auto;
    }
    .orderdetails-header {
        margin-bottom: 16px;
        @include mobile {
            text-align: center;
        }
    }
    .orderdetails-title {
        display: inline;
        margin-right: 8px;
    }
    .orderdetails-date {
        @include mobile {
            display: block;
        }
    }
    .orderdetails-block {
        display: flex;
        @include mobile {
            display: block;
        }
        .orderdetails-block-text {
            margin-right: 3px;
        }
        .orderdetails-block-amount {
            font-weight: bold;
            margin-right: 3px;
            @include mobile {
                display: inline;
            }
        }
        .orderdetails-block-button {
            padding: 0 9px;
            font-size: 14px;
            margin-left: 5px;
            height: 28px;
            @include mobile {
                margin-left: 0;
            }
        }
        .button {
            margin-left: 0.5em;
        }
    }
    .orderdetails-block .orderdetails-block-address,
    .orderdetails-tx .orderdetails-tx-address {
        @include mobile {
            width: 246px;
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;
            display: block;
        }
    }
}
